<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticAssets" stopProcessing="true">
          <match url="^(assets/.*|favicon\.ico|robots\.txt|.*\.(js|css|png|jpg|jpeg|gif|svg|webp|ico|woff2?|ttf|map))$" />
          <action type="None" />
        </rule>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode devErrorsEnabled="true" loggingEnabled="true" />
  </system.webServer>
</configuration>
